.page {
    margin: 0;
    background-color: #000;
    height: 500vh;
    display: flex;
    align-items: center;
    
}

.menu-bar {
    background-color: grey;
    min-height: 35px;
    width: 100%;
       
}
.stick {
    position: fixed;
    top: 0;
}